
<ion-app>

  <ion-toolbar color="secondary">
    <ion-title >Entre-Gas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
     <ion-button [routerLink]="['/produto/localizacao']" >
          <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
   </ion-buttons>


  </ion-toolbar>







<ion-content>

  <ion-grid  >


    <ion-row class="ion-align-items-center">

      <ion-col  size-sm="6" offset-sm="3" size-md="6"offset-md="3" class="ion-margin-vertical">
                <ion-img style="width: 200px; margin:auto;" [src]="produto.logo"></ion-img>
      </ion-col>



      <ion-col size-sm="6" offset-sm="3" size-md="6" offset-md="3">
        <ion-card>
            <ion-item>
              <ion-icon color="secondary"  slot="start"></ion-icon>
              <ion-label class="ion-text-center">{{produto.peso}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-icon color="secondary" name="logo-usd" slot="start"></ion-icon>
              <ion-label class="ion-text-center">{{produto.preco}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-icon color="secondary" name="time" slot="start"></ion-icon>
              <ion-label class="ion-text-center">{{produto.tempo}}</ion-label>
            </ion-item>
          </ion-card>
    </ion-col>



      <ion-col size-sm="6" offset-sm="3" size-md="6" offset-md="3" >
      <ion-button [routerLink]="['/produto/localizacao']" color="primary"  expand="block">
        <ion-icon  slot="start" name="add-circle-outline"></ion-icon>
        Encomendar
      </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>
</ion-app>
