

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" size-md="6" offset-md="3">

          <ion-card>
             <ion-card-header>
               <ion-card-title>
                  <ion-label>Botija</ion-label>
               </ion-card-title>
             </ion-card-header>

              <ion-card-content>
                <ion-item lines = "none">
                  <ion-label>Nome</ion-label>
                </ion-item>

                <ion-item lines = "none">
                  <ion-label>Data</ion-label>
                </ion-item>

                <ion-item lines = "none">
                  <ion-label>Preco</ion-label>
                </ion-item>

                <ion-item lines = "none">
                  <ion-label>Estado</ion-label>
                </ion-item>
              </ion-card-content>

              <ion-button color="primary" fill="outline" expand="block">
                  Cancelar
              </ion-button>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
